html,
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #eee2dc;
}

* {
  margin: auto;
  padding: 0;
  background-color: #eee2dc;
}

.intro {
  top: 0;
  min-height: 55vh;
  padding-top: 45vh;
  font-family: Helvetica;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #123c69;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: tan;
}

.api-item {
  padding-top: 0px;
}

.api-item2 {
  padding-top: 5px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.listFilms,
.listChars,
.listVehicles,
.listStarShips,
.listPlanets,
.listBlondes,
.listMammals,
.listDroids {
  font-family: arial;
  margin: 5px 20px;
  display: block;
  border: 1px solid darkgray;
  height: 500px;
  width: 250px;
  list-style-type: none;
  overflow: scroll;
  border-radius: 5%;
}

.listFilms li,
.listChars li,
.listVehicles li,
.listStarShips li,
.listPlanets li,
.listBlondes li,
.listMammals li,
.listDroids li {
  margin: 0px;
  padding: 5px;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid darkgrey;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: wrap;
  text-overflow: ellipsis;
}

#title {
  margin-left: 500px;
}

figure {
    width:100%;
    height: auto;
    align-content: center;
   
}
.card-body {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.card-body ul {
  padding-left: 0;
}

.card-body li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}
